.App {
  /* text-align: center; */
}

.modalBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(200, 200, 200, 0.26);
  position: fixed;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.modalContainer {
  width: 500px;
  z-index: 2000;
  max-height: 350px;
  margin-top: 12vh;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 50%;
  /* 
   */
  font-size: 1.7rem;
  text-align: start;
  margin-bottom: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}